<div id="equipment" class="section md-padding bg-grey">
  <!-- Container -->
  <div class="container">
      <!-- Row -->
      <div class="row">
          <!-- Section header -->
          <div class="section-header text-center">
              <h2 class="title">Clients:</h2>
          </div>
          <!-- /Section header -->
{{#each clients}}
<!-- Equipment -->
          <div class="col-xs-4 equip">
              <!-- Equipment Image -->
              <img class="img-responsive" src="{{this.picture_url}}" alt="{{this.name}}">
              <!-- Equipment Overlay -->
              <div class="overlay"></div>
              <!-- Equipment Content -->
              <div class="equip-content">
                  <h3>{{this.name}}</h3>
                  <!-- Equipment Link -->
                  <div class="equip-link">
                      <a data-toggle="modal" data-target="#{{this.id}}modal" ><i class="fa fa-search"></i></a>
                  </div>
                  <!-- /Equipment Link -->
              </div>
              <!-- /Equipment Content -->
          </div>
          <!-- /Equipment-->

{{/each}}
</div>
{{#each clients}}
<!-- Microphone Modal -->
<div class="modal" id="{{this.id}}modal" tabindex="-1" role="dialog" aria-labelledby="{{this.id}}modal">
  <!-- Modal Dialog -->
  <div class="modal-dialog" role="document">
      <!-- Modal Content -->
      <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title text-center" id="{{this.id}}modal">Test:</h4>
          </div>
          <!-- /Modal Header -->
          <!-- Modal Body -->
          <div class="modal-body">
						{{!-- Microphones --}}
                        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/413974059&color=%23bd2031&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
						{{!-- /Microphones --}}
          </div>
          <!-- /Modal Body -->
      </div>
      <!-- /Modal Content -->
  </div>
  <!-- /Modal Dialog -->
</div>
<!-- /Microphone Modal -->
{{/each}}