<body>
  <!-- Header -->
	<header id="home-equip">
		<!-- Background Image -->
		<div class="bg-img img-responsive" style="background-image: url('/img/orange.png');"></div>
		<!-- /Background Image -->

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			{{!-- Container --}}
			<div class="container">
				{{!-- Navbar Header --}}
				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="/">
							<img class="logo" src="img/logo_red.png" alt="logo">
							<img class="logo-alt" src="img/logo_red.png" alt="logo">
						</a>
					</div>
					<!-- /Logo -->
					<!-- Collapse Nav Button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>
				{{!-- /Navbar Header --}}
				<!--  Main navigation  -->
				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a href="/">Home</a></li>
					<li><a href="/clients">Clients</a></li>
					<li><a href="/equipment">Equipment</a></li>
					<li><a href="/contact">Contact</a></li>					
				</ul>
				<!-- /Main navigation -->
			</div>
			{{!-- /Container --}}
		</nav>
		<!-- /Nav -->

		<!-- Home Wrapper -->
		<div class="home-wrapper">
			{{!-- Container --}}
			<div class="container">
				{{!-- Row --}}
				<div class="row">
					<!-- Home Content -->
					<div class="col-md-10 col-md-offset-1">
						<div class="home-content">
							{{!-- <h1 class="white-text">Cardinal Recording</h1> --}}
							<img src="img/logo_white.png" class="img-responsive">
						</div>
					</div>
					<!-- /Home Content -->
				</div>
				{{!-- /Row --}}
			</div>
			{{!-- /Container --}}
		</div>
		{{!-- Home Wrapper --}}
	</header>
	{{!-- /Header --}}

<!-- Equipment -->
<div id="equipment" class="section md-padding bg-grey">
  <!-- Container -->
  <div class="container">
      <!-- Row -->
      <div class="row">
          <!-- Section header -->
          <div class="section-header text-center">
              <h2 class="title">Featured Equipment</h2>
          </div>
          <!-- /Section header -->
          <!-- Equipment #1 Workstation -->
          <div class="col-xs-6 equip">
              <!-- Equipment Image -->
              <img class="img-responsive equip-img-fix" src="./img/equip_1.JPG" alt="Workstation">
              <!-- Equipment Overlay -->
              <div class="overlay"></div>
              <!-- Equipment Content -->
              <div class="equip-content">
                  <h3>Workstation</h3>
                  <!-- Equipment Link -->
                  <div class="equip-link">
                      <a data-toggle="modal" data-target="#workstationModal" ><i class="fa fa-search"></i></a>
                  </div>
                  <!-- /Equipment Link -->
              </div>
              <!-- /Equipment Content -->
          </div>
          <!-- /Equipment #1 Workstation -->
          <!-- Equipment #2 Plugins & Pedals -->
          <div class="col-xs-6 equip">
              <!-- Equipment Image -->
              <img class="img-responsive mx-5" src="./img/equip_2.JPG" alt="Plugins & Pedals">
              <!-- Equipment Overlay -->
              <div class="overlay"></div>
              <!-- Equipment Content -->
              <div class="equip-content">
                  <h3>Plugins & Pedals</h3>
                  <!-- Equipment Link -->
                  <div class="equip-link">
                      <a data-toggle="modal" data-target="#plugModal" ><i class="fa fa-search"></i></a>
                  </div>
                  <!-- /Equipment Link -->
              </div>
              <!-- /Equipment Content -->
          </div>
          <!-- /Equipment #2 Plugins & Pedals-->
          <!-- Equipment #3 Gear -->
          <div class="col-xs-6 equip">
              <!-- Equipment Image -->
              <img class="img-responsive equip-img-fix" src="./img/equip_3.JPG" alt="Gear">
              <!-- Equipment Overlay -->
              <div class="overlay"></div>
              <!-- Equipment Content -->
              <div class="equip-content">
                  <h3>Gear</h3>
                  <!-- Equipment Link -->
                  <div class="equip-link">
                    <a data-toggle="modal" data-target="#gearModal" ><i class="fa fa-search"></i></a>
                  </div>
                  <!-- /Equipment Link -->
              </div>
              <!-- /Equipment Content -->
          </div>
          <!-- /Equipment #3 Gear-->
          <!-- Equipment #4  Microphones -->
          <div class="col-xs-6 equip">
              <!-- Equipment Image -->
              <img class="img-responsive" src="./img/equip_4.JPG" alt="Microphones">
              <!-- Equipment Overlay -->
              <div class="overlay"></div>
              <!-- Equipment Content -->
              <div class="equip-content">
                  <h3>Microphones</h3>
                  <!-- Equipment Link -->
                  <div class="equip-link">
                      <a data-toggle="modal" data-target="#micModal"><i class="fa fa-search"></i></a>
                  </div>
                  <!-- /Equipment Link -->
              </div>
              <!-- /Equipment Content -->
          </div>
          <!-- /Equipment #4 Microphones-->                      
      </div>
      <!-- /Row -->
  </div>
  <!-- /Container -->
</div>
<!-- /Equipment -->

<!-- Workstation Modal -->
<div class="modal left fade" id="workstationModal" tabindex="-1" role="dialog" aria-labelledby="workstationModal">
  <!-- Modal Dialog -->
  <div class="modal-dialog" role="document">
      <!-- Modal Content -->
      <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h3 class="modal-title text-center white-text" id="workstationModal">Workstation :</h4>
          </div>
          <!-- /Modal Header -->
          <!-- Modal Body -->
          <div class="modal-body">
              <div class="overlay"></div>
          	{{!-- DAW --}}
						<h5 class="white-text">Digital Audio Workstation:</h5>
							<ul>
        		      	<li><p class="white-text">Cubase Professional 8</p></li>
							</ul>
						{{!-- /DAW --}}
						{{!-- Interface --}}
						<h5 class="white-text">Interface:</h5>
							<ul>
          			{{#each equipment}}
          	    	{{#if this.interface}}
        		      	<li><p class="white-text">{{this.name}}</p></li>
          	    	{{/if}}
          	  	{{/each}}
          		</ul>
						{{!-- /Interface --}}
						{{!-- Mic Preamps --}}
						<h5 class="white-text">Microphone Preamps:</h5>
							<ul>
            		{{#each equipment}}
            	    {{#if this.mic_preamp}}
        		      	<li><p class="white-text">{{this.name}}</p></li>
                  {{/if}}
                {{/each}}
              </ul>
					  {{!-- /Mic Preamps --}}
						{{!-- Monitors --}}
						<h5 class="white-text">Monitors:</h5>
							<ul>
            		{{#each equipment}}
            	    {{#if this.monitor}}
        		      	<li><p class="white-text">{{this.name}}</p></li>
                  {{/if}}
                {{/each}}
              </ul>
						{{!-- /Monitors --}}
          </div>
          <!-- /Modal Body -->
      </div>
      <!-- /Modal Content -->
  </div>
  <!-- /Modal Dialog -->
</div>
<!-- /Workstation Modal -->

<!-- Plug-ins & Pedals Modal -->
<div class="modal left fade" id="plugModal" tabindex="-1" role="dialog" aria-labelledby="plugModal">
  <!-- Modal Dialog -->
  <div class="modal-dialog" role="document">
      <!-- Modal Content -->
      <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h3 class="modal-title text-center white-text" id="plugModal">Plugins & Pedals:</h1>
          </div>
          <!-- /Modal Header -->
          <!-- Modal Body -->
          <div class="modal-body">
						{{!-- Plugins : Effects--}}
						<h3 class="white-text">Effects:</h3>
							<ul>
          			{{#each equipment}}
          	    	{{#if this.plugin_effects}}
        		      	<li><p class="white-text">{{this.name}}</p></li>
          	    	{{/if}}
          	  	{{/each}}
          		</ul>
						{{!-- /Plugins : Effects --}}
						{{!-- Plugins : Package --}}
						{{!-- <h3 class="white-text">Packages:</h3>
							<ul>
            		{{#each equipment}}
            	    {{#if this.plugin_package}}
        	          <li>{{this.name}}</li>
                  {{/if}}
                {{/each}} --}}
              </ul>
					  {{!-- /Plugins : Package --}}
						{{!-- Plugins : Waves --}}
						<h3 class="white-text">WAVES:</h3>
							<ul>
            		{{#each equipment}}
            	    {{#if this.plugin_waves}}
                        <li><p class="white-text">{{this.name}}</p></li>
                  {{/if}}
                {{/each}}
              </ul>
						{{!-- /Plugins : Waves --}}
						{{!-- Plugins : Slate Digital --}}
						<h3 class="white-text">Slate Digital:</h3>
							<ul>
            		{{#each equipment}}
            	    {{#if this.plugin_slate_digital}}
                        <li><p class="white-text">{{this.name}}</p></li>
                  {{/if}}
                {{/each}}
              </ul>
						{{!-- /Plugins : Slate Digital --}}
						{{!-- Plugins : Fab Filter --}}
						<h3 class="white-text">Fab Filter:</h3>
							<ul>
            		{{#each equipment}}
            	    {{#if this.plugin_fab_filter}}
                        <li><p class="white-text">{{this.name}}</p></li>
                  {{/if}}
                {{/each}}
              </ul>
						{{!-- /Plugins : Fab Filter --}}
						{{!-- Plugins : Izotope --}}
						<h3 class="white-text">Izotope:</h3>
							<ul>
            		{{#each equipment}}
            	    {{#if this.plugin_izotope}}
        	          <li><p class="white-text">{{this.name}}</p></li>
                  {{/if}}
                {{/each}}
              </ul>
						{{!-- /Plugins: Izotope --}}
						{{!-- Plugins: Sound Toys --}}
						<h3 class="white-text">Sound Toys:</h3>
							<ul>
            		{{#each equipment}}
            	    {{#if this.plugin_soundtoys}}
        	          <li><p class="white-text">{{this.name}}</p></li>
                  {{/if}}
                {{/each}}
              </ul>
						{{!-- /Plugins: Sound Toys --}}
						{{!-- Pedals --}}
						<h3 class="white-text">Pedals:</h3>
							<ul>
            		{{#each equipment}}
            	    {{#if this.pedal}}
        	          <li><p class="white-text">{{this.name}}</p></li>
                  {{/if}}
                {{/each}}
              </ul>
						{{!-- /Pedals --}}
          </div>
          <!-- /Modal Body -->
      </div>
      <!-- /Modal Content -->
  </div>
  <!-- /Modal Dialog -->
</div>
<!-- /Plugins & Pedals Modal -->

<!-- Gear Modal -->
<div class="modal left fade" id="gearModal" tabindex="-1" role="dialog" aria-labelledby="gearModal">
  <!-- Modal Dialog -->
  <div class="modal-dialog" role="document">
      <!-- Modal Content -->
      <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title text-center white-text" id="gearModal">Gear:</h4>
          </div>
          <!-- /Modal Header -->
          <!-- Modal Body -->
          <div class="modal-body">
						{{!-- Guitars --}}
						<h5 class="white-text">Guitars:</h5>
							<ul>
          			{{#each equipment}}
          	    	{{#if this.instrument_guitar}}
        		      	<li><p class="white-text">{{this.name}}</p></li>
          	    	{{/if}}
          	  	{{/each}}
          		</ul>
						{{!-- /Guitars --}}
						{{!-- Bass --}}
						<h5 class="white-text">Bass:</h5>
							<ul>
            		{{#each equipment}}
            	    {{#if this.instrument_bass}}
        		      	<li><p class="white-text">{{this.name}}</p></li>
                  {{/if}}
                {{/each}}
              </ul>
					  {{!-- /Bass --}}
						{{!-- Drums --}}
						<h5 class="white-text">Drums:</h5>
							<ul>
            		{{#each equipment}}
            	    {{#if this.instrument_drum}}
        		      	<li><p class="white-text">{{this.name}}</p></li>
                  {{/if}}
                {{/each}}
              </ul>
						{{!-- /Drums --}}
						{{!-- MIDI --}}
						<h5 class="white-text">MIDI:</h5>
							<ul>
            		{{#each equipment}}
            	    {{#if this.instrument_midi}}
        		      	<li><p class="white-text">{{this.name}}</p></li>
                  {{/if}}
                {{/each}}
              </ul>
						{{!-- /MIDI --}}
						{{!-- Amps --}}
						<h5 class="white-text">Amps:</h5>
							<ul>
            		{{#each equipment}}
            	    {{#if this.amp}}
        		      	<li><p class="white-text">{{this.name}}</p></li>
                  {{/if}}
                {{/each}}
              </ul>
						{{!-- /Amps --}}
						{{!-- Cabs --}}
						<h5 class="white-text">Cabs:</h5>
							<ul>
            		{{#each equipment}}
            	    {{#if this.cab}}
        		      	<li><p class="white-text">{{this.name}}</p></li>
                  {{/if}}
                {{/each}}
              </ul>
						{{!-- /Cabs --}}
          </div>
          <!-- /Modal Body -->
      </div>
      <!-- /Modal Content -->
  </div>
  <!-- /Modal Dialog -->
</div>
<!-- /Gear Modal -->

<!-- Microphone Modal -->
<div class="modal left fade" id="micModal" tabindex="-1" role="dialog" aria-labelledby="micModal">
  <!-- Modal Dialog -->
  <div class="modal-dialog" role="document">
      <!-- Modal Content -->
      <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title text-center white-text" id="micModal">Microphones:</h4>
          </div>
          <!-- /Modal Header -->
          <!-- Modal Body -->
          <div class="modal-body">
						{{!-- Microphones --}}
						<h5 class="white-text">Microphones:</h5>
							<ul>
          			{{#each equipment}}
          	    	{{#if this.microphone}}
        		      	<li><p class="white-text">{{this.name}}</p></li>
          	    	{{/if}}
          	  	{{/each}}
          		</ul>
						{{!-- /Microphones --}}
          </div>
          <!-- /Modal Body -->
      </div>
      <!-- /Modal Content -->
  </div>
  <!-- /Modal Dialog -->
</div>
<!-- /Microphone Modal -->
